<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTA Transit Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>MTA Transit Updates</h1>
        <div id="data-container">
            <!-- Data will be inserted here by the fetchData function -->
        </div>
    </div>

    <script>
        function fetchData() {
        fetch('/refresh')
            .then(response => response.json())
            .then(data => {
                let content = '';
                data.forEach(item => {
                    let modifiedMessage = item.message.replace(/([A-Z]) train/, '<span class="train-line-indicator">$1</span> train');
                    content += `<p>${modifiedMessage}</p>`;
                });
                document.getElementById('data-container').innerHTML = content;
            })
            .catch(error => console.error('Error:', error));
    }

        setInterval(fetchData, 60000); // Fetch data every 60000 ms (1 minute)
        fetchData(); // Initial fetch
    </script>
</body>
</html>
