body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  text-align: center;
}
.container {
  margin-top: 50px;
  height: auto;
  width: flex;
}

h1 {
  font-size: 60px;
  margin-bottom: 50px;
}

#data-container {
  width: flex;
}

p{
  padding: 20px;
  width: auto;
  font-size: 32px;
}

.train-line-indicator {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  border: #f0f0f0;
  border-width: 3px;
}

.green-circle {
  background-color: #00933C;
  color: white;
  border-color: #f0f0f0;
  border: #f0f0f0;
}

.yellow-circle {
  background-color: #FCCC0A;
}
